	#search {
		background: url(../img/Catalog-bj.jpg) no-repeat;
		height: 374px;
		min-width: 1200px;
		width: 100%;
		margin-top: -57px;
	}
	.index {
		width: 1125px;
		background-color: #FFFFFF;
		margin:0 auto;
		margin-top: -150px;
		position: relative;
	}
	.index .index_Line{
		height: 36px;
		border-bottom: 1px solid #cdcdcd
	}
	.index .screen {
		width: 321px;
		/*height: 1621px;*/
		min-height: 1000px;
		position: absolute;
		top: 50px;
		left: 802px;
		background-color: rgba(0,0,0,0.008);
		
	}
	.index .picture {
		width: 194px;
		height: 271px;
		position: absolute;
		top: 30px;
		left: 15px;
		margin-top:20px;
		border-radius: 4px;
		z-index: 9;
	}
	.index .medal {

	  position: absolute;
    z-index: 99;
    width: 40px;
    right: 350px;
    top: 54px;
	}

	.update {
    width: 50px;
    height: 42px;
    position: absolute;
    top: 50px !important;
    left: 15px !important;
    }
	.index .update img{
    position: absolute;
    top: 0px !important;
    left: 0px !important;
    width: 50px;
    height: 42px;
	}

	.text {
		width: 565px;
		height: 260px;;
		margin: 20px 0 0 230px;
	}
	.text h4{
	  font-size: 20px;
	  font-family: "幼圆";
		
	}
	.text .text_ul  {
		width: 565px;
		height: 20px;
		font-size: 13px;
		line-height: 20px;
		margin-top: 20px;
	}
	.text .text_ul li {
		width: 100px;
		height: auto;
		float: left;
	}
	.screen h2 {
		width: 300px;
		height: 19px;
		padding: 47px 0 0 20px;
	}
	.screen .author {
		width: 217px;
		height: 72px;
		margin: -80px 0 0 110px;
	}
	.screen .author li {
		width: 184px;
		padding-top: 20px;
	}
	.head {
		margin: 30px 0 0 25px;
		border-radius: 50px;
		width: 64px;
		height: 64px;
		position: relative;
	}
	.attention-name-sex{
	  position: absolute;
    left: 68px;
    top: 135px;
	}
	.attention-name-sex-Tow{
	  position: absolute;
    bottom: 21px;
    left: 36px;
	}
	.attention-name-sex-thr{
	  position: absolute;
    bottom: 15px;
    left: 35px;
	}
	.attention-name-sex-thr img{
    width: 18px !important;
    height: 18px !important;
  }
	.attention-name-sex-Tow img{
	  width: 18px !important;
	  height: 18px !important;
	}
	.screen .a_author {
		text-align: center;
		width: 90px;
		height: 20px;
		font-size: 12px;
		padding: 3px 10px;
		background-color: #00A1D6;
		border-radius: 5px;
		color: #FFFFFF;
		
		
		
	}
	 .screen .a_author:hover {
	  text-align: center;
    width: 90px;
    height: 20px;
    font-size: 12px;
    padding: 2px 9px;
    background-color: white;
    border-radius: 5px;
    color: #00A1D6;
    border:1px solid #00A1D6;
	   
	 }
	 .screen .a_author_Tow {
    text-align: center;
    width: 90px;
    height: 20px;
    font-size: 12px;
    padding: 3px 3px;
    color: #00A1D6;
    border-radius: 5px;
    border: 1px solid #00A1D6;
    
    
  }
   .screen .a_author_Tow:hover {
     text-align: center;
    width: 90px;
    height: 20px;
    font-size: 12px;
    padding: 3px 3px;
    color: white;
    border-radius: 5px;
    background-color: #00A1D6;
   }
	.screen .span_author {
		color: #00A1D6;
	}
	.screen .span_author:hover {
	  color: #32B6FF;
	}
	.screen h3{
		width: 285px;
		height: 19px;
		margin: 40px 0 0 18px;
		font-family: "幼圆";
		font-size: 18px;
	}
	.screen .titile_tow{
	  width: 285px;
    height: 19px;
    margin: 40px 0 0 18px;
    font-family: "幼圆";
    font-size: 16px;
	}
	.works ul {
		width: 252px;
		height: 140px;
		margin: 0 0 0 42px;
		overflow: hidden;
		position: relative;
	}
	
	.button {
		width: 321px;
		height: 10px;
	}
	.button img{
		display: block;
		float: left;
	}
	.works ul li {
		width: 84px;
		height: 140px;
		margin: 14px 0px 0 0;
    position: absolute;
	}
	.works li img {
		margin: 0 0 10px 0;
		display: block;
		width: 70px;
		height: 100px;
		border-radius: 4px;
	}
	.list {
		width: 300px;
		
	}
	.list_ul {
		width: 100px;
		height: 17px;
		float: right;
		margin: 0 10px 0 0;
	}
	.list_ul li {
		width: 20px;
		margin: 10px 10px 0 0;
		float: left;
		text-align: center;
		display: block;
		cursor: pointer;
		border-radius: 4px;
	}
	.list_ul li:hover {
		color: #FFFFFF;
		padding: 2px;
		background-color: #E74C3C;
	}
	.list_ul .active {
		color: #FFFFFF;
		padding: 2px;
		background-color: #E74C3C;
	}
	.ranking {
		height: 560px;
		margin-top:50px ;
	}
	.ranking_head {
		width: 64px;
		height: 64px;
		display: block;
		margin: 20px 0 0 45px ;
		border-radius: 64px;
	}
	.ranking ul{
		width: 200px;
		height: 71px;
		float: right;
		margin: -65px -5px 0 0;
	}
	.ranking li {
		width: 90px;
		height: 35px;
		line-height: 20px;
		float: left;
		text-align: center;
	}
	.ranking .name {
		font-size: 10px;
		font-weight: lighter;
	}
	.ranking .num {
		width: 50px;
		height: 29px;
		color: red;
		float: left;
		margin-left: 10px;
	}
	.num img {
		margin-left: 15px;
		text-align: center;
		display: block;
	}
	.ranking .money {
		margin-top: 13px;
		margin-left: 10px;
		font-size: 25px;
		float: right;
		color: #e74c3c;
	}
	.ranking_name {
		margin: -35px 0;
		float: none;
	}
	.rank {
		width: 243px;
		
	}
	.rank ul {
		width: 216px;
		height: 31px;
		position: relative;
		text-align: center;	
		margin: 13px -16px 0 0;
		border-bottom: 1px dashed #999;
	}
	.rank ul li {
		width: 88px;
		height: 26px;
	}
	.rank_num {
		padding: 0 0 0 100px;
		float: none;
	}
	.rank .rank_span{
		font-size: 14px;
		text-align: center;
		padding: 0px 6px 0px 4px;
		border-radius: 4px;
		display: block;
		float: left;
		background-color: #b3b3b3;
		color:#fff;
	}
	.rank .rank_Title{
		position: absolute;
		top: 0;
		left: 35px;
	}
	#more {
		width: 321px;
		height: 22px;
		line-height: 22px;
		text-align: center;
		float: left;
		margin: -8px 0 0 0;
		color: #f56767;
		cursor: pointer;
	}
	#recommed {
		height: 440px;
		float: left;
		margin: 40px auto;
		padding: 0;
		
	}
	#recommed .many {
		float: right;
		margin: 8px 70px 0 0;
		font-weight: lighter;
		font-size: 8px;
	}
	#recommed .recommed_works {
		height: 118px;
		
	}
	#recommed .recommed_works img {
		display: block;
		margin: 34px 0 0 42px;
		
	}
	#recommed .recommed_works ul{
		width: 100px;
		height: 70px;
		margin: -65px 0 -24px 146px;
		float: left;
	}
	#recommed .recommed_works ul li {
		width: 150px;
		height: 25px;
		line-height: 25px;
		font-size: 13px;
		
	}
	#recommed .recommed_works .h4 {
		float: right;
		margin: -115px 98px 0px 0px;
		font-size: 16px;
	  
	  font:"微软雅黑" ;
	}
	#recommed .recommed_Title {
		width: 300px;
		height: 103px;
		padding: 35px 0 0 0;
	}
	#recommed .recommed_Title ul {
		width: 155px;
		height: 92px;
		margin: 0 0 0 43px;
	}
	#recommed .recommed_Title .Title_a {
		display: block;
		width: 158px;
		height: 30px;
		line-height: 15px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		color: #000000;
	}
	.recommed_works .works_span {
		display:inline-block;
		width: 60px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
    vertical-align: middle;
		padding-bottom: 3px;
	}
	.screen .author label {
		display: block;
		float: left;
	} 
	.screen .author .span {
		display: block;
		float: left;
		width: 80px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	 .screen .author .span_autograph {
    display: block;
    float: left;
    width: 160px;
    height: 40px ;
    overflow: hidden;
    line-height: 1.5;
    text-overflow: ellipsis;
    font-size: 13px;
    color: #666666;
  }
	.works .button .next {
		float: right;
		margin: 0px 37px 0px 5px ;
		cursor: pointer;
	}
	.works .button .next:hover {
	  
	}
	.works .button .Previous {
		float: right;
		cursor: pointer;
	}
	.num_money {
		margin-left: 20px;
	}
	.screen .works_a {
		display: block;
		width: 70px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		color: #666;
		text-align: center;
  }
    .screen .works_a:hover {
      color: #00a4ff;
      transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
    }
	 .screen .works_b {
    display: block;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000000;
    text-align:left;
    padding-top: 5px;
    padding-left: 15px;
  
  }
	.screen .rank_a {
		display: block;
		width: 170px;
		position: relative;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		text-align: left;
		color: #000000;
	}
	.ranking .ranking_Img_line {
		position: absolute;
		height: 26px;
		width: 21px;
		top: 40px;
    	left: 40px;
	}
		.index .text_brief {
			width: 555px;
			height: 111px;
			border-bottom: 1px dashed #E1E1E1;
			margin-top: 10px;
		}	
		.index .text_brief .text_brief_p {
		  	width: 555px;
		    overflow: hidden;
		    display: -webkit-box;
		    -webkit-line-clamp: 5;
		    -webkit-box-orient: vertical;
		    height: 103px;
		    font-size: 12px;
		    line-height: 1.4;
		    color: #666;
		    text-overflow: ellipsis;
		    
		}
		.index .text_brief .text_brief_p span {
		  color: black;
		}
		.index .text_type {
			width: 472px;
			
			padding: 15px 0 0 0;
			
		}
		.index .text_type ul {
			height: 20px;
		}
		.index .text_type ul li{
			width: 60px;
			height: 20px;
			
			line-height: 17px;
			float: left;
		}
		.index .text_type .text_span {
			width: 48px;
			
			height: 20px;
			display: inline-block;
			text-align: center;
			border-radius: 16px;
			color: #00A1D6;
			border: 1px solid #00A1D6;
      
		
		}
		.index .text_type .text_span:hover {
			background-color: #68c9ff;
			border: 1px solid #68c9ff;
			cursor: pointer;
			color: white;
			transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
		}
			
		.index .text_reading {
			width: 560px;
			height: 55px;
			padding: 15px 0 0 0;
			cursor: pointer;
		}


		.index .text_reading ul {
			height: 40px;
		}
		.index .text_reading ul li {
			width: 140px;
			height: 37px;
			float: left;
		}
		.index .text_reading .text_Read {
			width: 97px;
			
			border-radius: 10px;
			display:block;
			line-height: 37px;
			text-align: center;
			font-size: 16px;
			background-color: #5697F1;
			color: #FFFFFF;
			
		}
		    .index .text_reading .text_Read:hover {
		      
		      transition: all 0.2s ease;
          -webkit-transition: all 0.2s ease;
      
		    }
		.index .text_reading span {
			width: 97px;
			height: 39px;
			border: 1px solid #dddddd;
			border-radius: 10px;
			display:block;
			font-size: 12px;
			color: #535353;
			cursor: pointer;
		}
		.index .text_reading span img {
		  width: 26px;
		  height: 26px;
		}
		.index .text_reading span p{
		  font-family: "幼圆";
		  font-size: 14px;
		}
		.index .text_reading span:hover {
		  
		  transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      
	  }

		.index .text_reading .text_card {
			margin: 5px 0 0 10px ;
		}
		.index .text_reading .text_Collection {
			margin: 5px 0 0 10px ;
		}
		.index .text_reading p {
			margin: -20px 0px 0px 45px;

		}
		.index .text_reading i {
			margin: 0px 0 0 56px;
			text-align: center;
		}
		.index .text_Catalog {
			width: 770px;
			min-height: 775px;
			border: 1px solid #dddddd;
			margin: 25px 0 0 15px;
			border-radius: 8px;
		}
		.index .text_Catalog ul {
			min-width: 169px;
			height: 30px;
			margin: 18px 0 0 20px;
		}
		.index .text_Catalog ul li{
			font-size: 15px;
			line-height: 20px;
			float: left;
		}
		.index .text_mark {
			width: 3px;
			height: 14px;
			background-color: #32b6ff;
			border-radius: 3px;
			margin: 3px 7px 0 0;
			
		}
		.index .text_chapter {
		 	width: 85%;
		 	margin: 0 auto;
		}
    .index .text_chapter .text_hr {
      width: 100%;
      margin: 0 auto;
      border-bottom: 1px solid #ececec;
      height: 1px;
    }
		.index .text_chapter .group {
			display:  inline-block;
			
			color: #010101;
			margin-bottom: 8px;
			margin-top: 8px;
			
			width: 25%;
			
		}
		
		.index .text_chapter .group a {
			text-overflow: ellipsis;
			overflow: hidden;
			display:  inline-block;
			white-space: nowrap;
			width: 92%;
			font-size: 12px;
		}
	 .index .text_chapter .group a:hover {
	      color: #00a4ff;
		    transition: all 0.2s ease;
		    -webkit-transition: all 0.2s ease;
		  }
	 .index .text_chapter .group a:hover span {
	     background-color: #00a4ff;
		     transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
		  }
	.index .text_chapter span {
				width: 3px;
				height: 11px;
				background-color: #97d7fa;
				display: inline-block;
				margin-right: 5px;
				border-radius: 2px;
				
		}
		.index .text_Catalog a {
			color: #666;
		}
		.index .text_comment {
			width: 720px;
			height: 29px;
			margin: 42px 0 0 40px;
			border-bottom: 1px solid #d7d7d7;
		}
		.index .text_comment ul {
			height: 20px;
			margin: 0 0 0 -15px;
		}
		.index .text_comment ul li {
			min-width: 30px;
			float: left;
		}
		.index .text_comment ul li span {
			color: #00A1D6;
			font-size: 18px;
			line-height: 5px;
			min-width: 10.55px;
		}
		.index .text_input {
			width: 675px;
			margin: 25px 0 0 50px;
		}
		.index .text_input .clearr {
			width: 705px;
			min-height: 80px;
			margin-bottom: 40px;
		}
		.index .text_input .clearr .user_head {
			margin-right: 20px;
			float: left;
			padding-top: 4px;
		}
		.index .text_input .clearr .user_head img{
		  height: 54px;
		  width: 54px;
		  border-radius: 54px;
		}
		.index .text_input .clearr li {
		  float: left;
		}
		.index .text_input .clearr .MessageBtn {
		  width: 60px;
		  height: 60px;
		  border-radius: 6px;
		  background-color: #00A1D6;
		  margin-left: 15px;
		  color: white;
		  text-align: center;
		  
		  cursor: pointer;
		}
		.index .text_input .clearr .MessageBtn:active {
      box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.1) inset ;
    }
		.index .text_input .clearr .MessageBtn:hover {
		  background-color: #3DB2D8;
		}
		.index .text_input .clearr .MessageBtn span{
		   width: 40px;
		   display: inline-block;
		   height: 40px;
		   padding-top: 17px;
		   cursor: pointer;
		}

		.index .text_input .clearr textarea {
			width: 550px;
			height: 60px;
			border-radius: 8px;
			resize:none;
		}
		.index .CommentArea {
		  width: 780px;
		}
		/*楼中楼回复*/
    .index .CommentArea  .Publish {
      width: 650px;
      height: 90px;
      margin-left:90px ;
      margin-top: 8px;
    }
    .index .CommentArea  .Publish .user_head {
      margin-right: 20px;
      float: left;
      
    }
        .index .CommentArea  .Publish .user_head a img{
          width: 54px;
          height: 54px;
          border-radius: 32px;
        }
    .index .CommentArea  .Publish li {
      float: left;
    }
    .index .CommentArea  .Publish .MessageBtn {
      width: 50px;
      height: 50px;
      border-radius: 6px;
      background-color: #00A1D6;
      margin-left: 15px;
      color: white;
      text-align: center;
      margin-top:5px ;
      cursor: pointer;
    }
    .index  .CommentArea  .Publish .MessageBtn:hover {
      background-color: #3DB2D8;
      
    }
    .index .CommentArea  .Publish .MessageBtn span{
       width: 40px;
       display: inline-block;
       height: 40px;
       padding-top: 12px;
       cursor: pointer;
    }

    .index .CommentArea  .Publish textarea {
      width: 450px;
      height: 50px;
      border-radius: 8px;
      resize:none;
      margin-top: 5px;
    }
    .index .CommentArea hr {
      margin: 0 4% 0 15%  ;
    }
    .index .CommentArea .text_page {
      margin-left: 120px;
      margin-top: 5px;    
      line-height: 24px;
      font-size: 12px;
      height: 24px;
    }
    .index .CommentArea .text_page b {
      margin: 0 3px;
    }
    .index .CommentArea .text_page li {
      float: left;
      margin-right: 10px;
      margin-top: 5px;
    }
    .index .CommentArea .text_page .page_number {
      cursor: pointer;
      width: 20px ;
      height: 24px;
      text-align: center;
    }
.index .CommentArea .text_page .page_number:hover {
  color: #00A1D6;


}
.index .CommentArea .text_page .page_number:active {
  color: white;
  background-color: #00A1D6;
}
.index .CommentArea .text_page .page_up {
    cursor: pointer;
  height: 24px;
  width: 54px;
  text-align: center;
}
.index .CommentArea .text_page .page_next {
  cursor: pointer;
  height: 24px;
  width: 54px;
  text-align: center;
}
.index .CommentArea .text_page .page_next:hover { 
  color: #00A1D6;
  border: 1px solid #00A1D6;
  border-radius: 6px;
}
.index .CommentArea .text_page .page_next:active {
  color: white;
  background-color: #00A1D6;
}
.index .CommentArea .text_page .page_up:hover { 
  color: #00A1D6;
  border: 1px solid #00A1D6;
  border-radius: 6px;
}
.index .CommentArea .text_page .page_up:active {
  color: white;
  background-color: #00A1D6;
}
/*上面的小翻页*/
    .text_sort .text_page_up {
      float: right;
      font-size: 13px;
      
    }
     .text_sort .text_page_up b {
      margin: 0 3px;
    }
     .text_sort .text_page_up li {
      width: 50px;
      height: 27px;
      cursor: pointer;
      text-align: center;
      float: left;
    }
     .text_sort .text_page_up .page_number {
      cursor: pointer;
      width: 16px ;
      height: 25px;
      text-align: center;
      font-size: 12px;
    }
     .text_sort .text_page_up .page_number:hover {
      color: #00A1D6;
    }

     .text_sort .text_page_up .page_up {
      cursor: pointer;
      height: 25px;
      width: 50px;
      text-align: center;
      font-size: 12px;
    }
    .text_sort .text_page_up .page_next {
      cursor: pointer;
      height: 25px;
      width: 50px;
      text-align: center;
      font-size: 12px;
    }
     .text_sort .text_page_up .page_next:hover { 
      color: #00A1D6;
    }

     .text_sort .text_page_up .page_up:hover { 
      color: #00A1D6;
    }
/*上面是小翻页*/
		.index  .text_sort {
			width: 662px;
			height: 27px;
			border-bottom: 1px solid #d9d9d9  ;
			margin-left: 48px;
		}
		.index .text_sort .text_sort_ul {
			margin-left: 10px;
			height: 27px;
			
		}
		.index .text_sort .text_sort_ul .text_sort_li {
			width:75px;
			height: 27px;
			cursor: pointer;
			text-align: center;
			float:left ;
			margin-right: 20px;
			font-family: "微软雅黑";
			font-weight:600 ;
		}
		.index .text_sort .active{
			border-bottom: 1px solid #00A1D6;
			height: 27px;
			color:#00A1D6 ;
		}
		.index .text_sort .text_sort_ul .text_sort_li:hover {
			color: #00A1D6;
			width: 75px;
			height: 27px;
			text-align: center;
			border-bottom: 1px solid #00A1D6;
		}
		.index .CommentArea {
		  width: 680px;
		 
		}
		.index .CommentArea .hr {
		 border-bottom: 1px solid #e5e9ef ;
	   width: 661px;
	   height: 1px;
	   margin-left: 100px;
	   margin-top: 10px;
		}
		.index .CommentArea .updata_dispaly {
		  color: #9E9E9E;
		  margin: 15px 0 20px 120px;
		  line-height: 22px;
		  font-size: 13px;
		}
    .index .CommentArea .updata_dispaly span{
		      color: #3DB2D8;
		      cursor: pointer;
		      width: 60px;
		      height: 22px;
		      display: inline-block;
		      text-align: center;
		    }
		.index .CommentArea .updata_dispaly span:hover{
          color: #00A1D6;
          background-color: #F0F0F0;
          border-radius: 6px;
        }    
		.index .text_user {
		 	width: 678px;
		 	margin-top: 20px; 
		 	margin-left: 37px;
		 	margin-bottom: 8px;
		  min-height: 70px;
		 	position: relative;
		 }

.text_user_img {
		position: relative;
		top: 5px;
		left: 15px;
		width: 54px;
    height: 54px;
    border-radius: 32px;
		 }
		.index .text_user .mes_head {
		 	width: 595px;
		 	min-height: 80px;
		 	float: right;
		 	margin: 0px 0px 0 0px;
		 }
		 .index .text_user ul li {
		   margin-right: 20px;
		 }
		.index .text_user ul .mes_head_user {
			width: 580px;
			height: 20px;
			margin-bottom: 5px;
			margin-top: 5px;
	    line-height: 20px;
		}
		.index .text_user ul li .updata_mes{
		  height: 16px;
      width: 530px;
		  margin-top:10px ;
		  color: #7D7D7D;
		  font-size: 12px; 
		}
		.index .text_user ul li .updata_mes li{
		  padding-top: 2px;
		}
		.index .text_user ul li .updata_mes .mess1{
		  float: left;	  
		  margin-right: 15px;
		}
		.index .text_user ul li .updata_mes .mess2{
      float: left;    
      margin-right: 15px;
      cursor: pointer;
      width: 40px;
      border-radius: 4px;
      height: 16px;
      text-align: center;
    }
    .index .text_user ul li .updata_mes .mess3{
      float: left;    
      margin-right: 15px;
      cursor: pointer;
      width: 40px;
      border-radius: 4px;
      height: 16px;  
      text-align: center; 
    }

    .index .text_user ul li .updata_mes:hover .mess3{
      display: block;
    }
    .index .text_user ul li .updata_mes .mess2:hover{
      color: #00A1D6;
      background-color: #F0F0F0;
    }
    .index .text_user ul li .updata_mes .mess3:hover{
      color: #00A1D6;
      background-color: #F0F0F0;
    }
		.index .text_user .user_a {
			display: block;
			color: #6d757a;
			width: 100px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			float: left;
			font-weight: 600;
			font-size: 12px;
		}
		.index .text_user .user_a:hover {
		  color: #00A1D6;
		  transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
		}
		.index .text_user .user_Top {
			width: 50px;
			height: 20px;
			line-height: 20px;
			text-align: center;
			background-color: #fdc56c;
			border-radius: 4px;
			float: left;
			color: #FFFFFF;
			margin: 0px 0 0 15px;
			font-size: 13px;
		}
    .index .text_user .user_Top_a {
      width: 40px;
      height: 17px;
      
      text-align: center;
      line-height: 16px;
      display: none;
      float: left;
      color: #7D7D7D;
      margin: 0px 0 0 15px;
      font-size: 12px;
    }		
    .index .text_user ul .mes_head_user:hover .user_Top_a {
      display: block;
    }
    .index .text_user .user_Top_a:hover {
      border-radius: 4px;
      background-color:#F0F0F0 ;
      color: #00A1D6;
      
    }
		.index .text_user .user_comment {
	  	width: 600px;
	    display: -webkit-box;
	    -webkit-box-orient: vertical;
	    line-height: 1.5;
	    min-height: 14px;
	    display: block;
	    white-space: normal;
	    word-break:break-all;
	    word-wrap:break-word;
		}
		.index .text_user .user_comment p{
		  font-size:14px ;
		}
		/*楼中楼*/
     .index .text_userTow {
      width: 600px;
      padding: 8px 3px;
      margin-left: 100px;
      height: 100%;
      position: relative;
      /*border: 1px solid rgba(0,0,0,0.06);
      border-bottom:1px solid rgba(0,0,0,0.01);*/
     }
     .index .text_userTow .text_userTow_img {
      position: relative;
      top: 3px;
      left: 18px;
      border-radius: 25px;
      width: 46px;
      height: 46px;
     }
    .index .text_userTow .mes_head {
      width: 515px;
      min-height: 56px;
      float: right;
      margin: 0px 0px 0 0px;
      
     }
    .index .text_userTow ul .mes_head_user {
      width: 540px;
      min-height: 20px;
      margin-bottom: 5px;
      margin-top: 5px;
    }
    .index .text_userTow ul li .updata_mes{
      height: 16px;
      width: 530px;
      margin-top:10px ;
      color: #7D7D7D;
      font-size: 12px;
    }
    .index .text_userTow ul li .updata_mes li{
      padding-top: 2px;
    }
    .index .text_userTow ul li .updata_mes .mess1{
      float: left;    
      margin-right: 15px;
    }
    .index .text_userTow ul li .updata_mes .mess2{
      float: left;    
      margin-right: 15px;
      cursor: pointer;
      width: 40px;
      border-radius: 4px;
      height: 16px;
      text-align: center;
    }
    .index .text_userTow ul li .updata_mes .mess3{
      float: left;    
      margin-right: 15px;
      cursor: pointer;
      display: none;
      width: 40px;
      border-radius: 4px;
      height: 16px;
      text-align: center;
    }
    .index .text_userTow ul li .updata_mes:hover .mess3{
      display: block;
    }
    .index .text_userTow ul li .updata_mes .mess2:hover{
      color: #00A1D6;
      background-color: #F0F0F0;
    }
    .index .text_userTow ul li .updata_mes .mess3:hover{
      color: #00A1D6;
      background-color: #F0F0F0;
    }
    .index .text_userTow .user_a {
      display: block;
      color: #6d757a;
      width: 100px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      float: left;
      font-weight: 600;
      font-size: 12px;
    }
    .index .text_userTow .user_a:hover {
      color: #00A1D6;
      transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
    }

    .index .text_userTow .user_comment {
        width: 505px;        
        display: inline-block;
        -webkit-box-orient: vertical;
        line-height: 21px;
        min-height: 14px;
        max-height: 588px;
    }
    .index .text_userTow .user_comment p{
      font-size: 14px;
    }
		.index .text_userTow .user_comment .aite_user {
		  color: #00A1D6;
		  margin-right: 5px;
		  margin-left: 3px;
		  font-family: "微软雅黑";
		}
        
		.index .text_input .input_a {
			color: #808080;
		}
		.index .text_input .user_msg{
		  position: relative;
		  float: left;
		  width: 555px;
		  height: 60px;
		}
		.index .text_input .user_msgTow{
		  position: relative;
		  float: left;
		  width: 555px;
		  height: 65px;
		  border-radius: 10px;
		  background-color:rgba(0,0,0,0.06);
		  text-align: center;
		  line-height: 65px;
		  color:#333;
		}
		.index .text_input .user_msgTow a{
		     
          padding-left: 10px;
		      border-radius: 4px;
		      background-color: #00A1D6;
		      margin-right: 10px;
          padding-right: 10px;
          color: white;
          cursor: pointer;
		    }
		.reward {
			width: 600px;
			height: 400px;
			position: relative;			
			border: 1px solid #dbdbdb;
			border-radius: 8px;
			background: #FFFFFF;
			outline: 0;
			margin: 0 auto;
		}
		.reward img{
		  position: absolute;
		  right: 20px;
		  top: 20px;
		  cursor: pointer;
		}
		.reward .reward_Num {
			width: 538px;
			height: 235px;
      border: 1px dashed #DADADA;
			border-radius: 4px;
			margin: 0 auto;
		
		}
    .reward_Num label{
      margin-top: 15px;
      margin-left: 10px;
      color: #777777;
      display: inline-block;
    }
    .reward_head{
      display: block;
      padding-left: 165px;
      margin-top: 35px;
      margin-bottom: 20px;
      font-family: inherit;
      font-size: 16px;
      font-weight: 500;
    }
    .reward_Num ul{
      width: 538px;
      margin-top: 20px;
    }
    .reward_Num_active{
    width: 121px;
    margin: 10px 27px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    height: 36px;
    border-radius: 3px;
    font-size: 16px;
    border: 1px solid #f8d24e !important;
    -webkit-user-select: none;
    color: #f8d24e;
    }
    .reward_Num ul li {
    width: 121px;
    margin: 10px 27px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    height: 36px;
    border-radius: 3px;
    font-size: 16px;
    border: 1px solid #ccc;
    -webkit-user-select: none;
    }
    .reward_Num ul li:hover {
      border: 1px solid #f8d24e;
      color: #f8d24e;
      transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
    }
    .reward_Num_active_a{
      display: inline-block !important;
      width: 29px !important;
      height: 29px !important;
      background-image: url(../img/card_05.png) !important;
      vertical-align: middle !important;
      margin-top: -5px !important;
      margin-right: 15px !important;
      
    }
    .reward_Num ul li a{
      display: inline-block;
      width: 29px;
      height: 29px;
      background-image: url(../img/card_03.png);
      vertical-align: middle;
      margin-top: -5px;
      margin-right: 15px;
      
    }
    .reward_Num ul li:hover a{
      background-image: url(../img/card_05.png);
      transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
    }
    .reward_Num ul li span{
      line-height: 36px;
    }

		.reward .reward_My {
	  font-size: 13px;
    line-height: 32px;  
    display: inline-block;
    margin-left: 455px;
			
		}
		.balala{
		  color: #FF7C8C;
		  margin-left: 10px  !important;
		  cursor: pointer;
		}
		.reward_ture{
		width: 330px;
    margin: 0 auto;
    color: #fff;
    background-color: #00a1d6;
    font-family: inherit;
    height: 32px;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 6px;
		}
		.reward_ture:hover {
        background-color: #38C0EC;
        transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
		}
		.btn:focus {
			
		}

		.Report {
		  width: 220px;
		  height: 240px;
		  background-color: white;   
		   box-shadow: 0 3px 5px 2px rgba(0,0,0,.3);
		   border-radius: 6px;
		   position: fixed;
		   left: 45%;
		   top: 45%;
		   z-index: 9999999;
		}
		.Report form {
		  width: 220px;
      height: 180px;
      padding-top: 20px;
      font-weight: 600;
      padding-left: 20px;
    cursor:pointer ;
		}
		.Report img {
		  position: absolute;
		  right: 5px;
		  top: 5px;
		  width: 20px;
		  height: 20px;
		}
		.Report form label {
      font-weight: 100;
      cursor: pointer;
		}
		.Report ul {
		  width: 220px;
      height: 150px;
      float: left;
		}
		.Report ul li {
		  width: 110px;
		  float: right;
		  margin-top: 15px;
		  
		}
		.Report .true {
		  width: 75px;
		  height: 30px;
		  text-align: center;
		  line-height: 15px;
		  font-weight: 100;
		  color: white;
		  background-color: #3DB2D8;
		  border-radius: 6px;
		  margin-top: 10px;
		  margin-left:70px ;
		  cursor: pointer;
		}
		.Report .true:hover {
		  background-color: #00A1D6;
		}
   .bdsharebuttonbox {
      width: 150px;
      height: 50px;
      background-color: white;
      box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.1) ;      
      position: absolute;
      top: -50px;
      left: -20px;
      display: none;
   }
   .four{
     position: relative;
   }
   .four:hover .bdsharebuttonbox{
     display: block;
   }
   .bdsharebuttonbox a {
     
   }
   .bds_qzone{
     background-image: url(../img/timg_qzone.png) !important;
     width: 50px !important;
     height: 50px !important;
     padding: 0 !important;
     line-height: 0 !important;
     margin: 0 !important;
     background-position: center !important ;
   }
   .bds_tsina{
      background-image: url(../img/timg_tsina.png)  !important;
      width: 50px !important;
      height: 50px !important;
      padding: 0 !important;
      line-height: 0 !important;
      margin: 0 !important;
      background-position: center !important;
   }
   .bds_sqq{
      background-image: url(../img/timg_qq.png) !important;
      width: 50px !important;
      height: 50px !important;
      padding: 0 !important;
      line-height: 0 !important;
      margin: 0 !important;
      background-position: center !important;
   }
   
    .alert_one {
      position: fixed;
      top: 25%;
      left: 45%;
      display: none;
      filter: alpha(opacity=0);
      width:150px;
      height:50px;
      text-align:center;
      color:white;
      background-color:black;
    }

.text h4{
    font-size: 24px;
    float: left;
    vertical-align: middle;
}
.index .text {
  position: relative;
  z-index: 1;
}
.text .collectArticle{
    display: inline-block;
    margin-left: 10px;
    padding: 0.5% 1%;
    font-size: 12px;
    color: white;
    background-color: #FE6878;
    border-radius: 2px;
        margin-top: 5px;
}
.text .collectArticle_span{
  display: inline-block;
  background-color: #169BD5;
  color: white;
  padding: 0.5% 1%;
  font-size: 12px;
  border-radius: 3px;
  margin-top: 5px;
}
.text .magic{
    position: absolute;
    left: -40px;
    top: -25px;
    z-index: -1;
    opacity: 0.5;
}
