body li{list-style:none}
.Login{width:367px;height:319px;position:absolute;top:180px;right:330px;display:none}
.Login .Login_small{height:320px;border:1px solid #6c4274;border-radius:10px;box-shadow:0 3px 9px rgba(0,0,0,.5)}
.Login .Login_small_tow{height:420px;border:1px solid #6c4274;border-radius:10px;box-shadow:0 3px 9px rgba(0,0,0,.5)}
.Login .Login_img{float:right;margin-right:10px}
.Login .line{margin-top:15px}
.Login p .input{width:318px;height:47px;border-radius:8px;font-size:18px;background:rgba(187,117,154,.27);box-shadow:inset 1px 1px 5px rgba(0,0,0,.5);border:1px solid #6c4274;margin:10px 0 0 30px;padding-left:10px}
.Login p img{float:right;margin:-35px 33px 0 0;cursor:pointer}
.Login .Login_input{margin:11px 0 0 39px}
.Login .a{display:block;width:310px;height:54px;line-height:54px;text-align:center;background:#96539a;color:#FFF;font-size:25px;margin:16px 0 0 30px;box-shadow:0 3px 0 0 #63246a;border-radius:5px;cursor:pointer}
.Login ul{overflow:hidden;margin:15px 0 15px 60px}
.Login ul li{float:left;padding:0 15px;cursor:pointer}
.ui-state-highlight{border:1px solid rgba(255,0,0,.5)!important;background-color:rgba(255,0,0,.5)!important;color:#363636!important}
.obtaincode{line-height:46px;width:114px;height:44px;font-size:14px;text-align:center;float:right;margin:12px 20px 0 0;background-color:#9188d9;box-shadow:0 3px 0 0 #4c429b;color:#FFF;cursor:pointer}
:-moz-placeholder{color:rgba(0,0,0,.5)}
::-moz-placeholder{color:rgba(0,0,0,.5)}
input:-ms-input-placeholder{color:rgba(0,0,0,.5)}
input::-webkit-input-placeholder{color:rgba(0,0,0,.5)}