@font-face{
	font-family:FontAwesome;
	src:url(../font/32400f4e.eot)format('embedded-opentype');
	src:url(../font/db812d8a.woff2) format('woff2');
	font-weight:400;font-style:normal;
}
/*雅黑*/
@font-face {
  font-family:Arial;
  src: url(../font/Arial.TTF);
}
/*宋体*/
@font-face {
	font-family:serif;
	src: url(../font/微软简标宋.TTF);
}
/*楷体*/
@font-face {
  font-family:sans-serif;
  src: url(../font/Microsoft Sans Serif.TTF);
}

*, :after, :before {
    box-sizing: border-box;
}
.modal-content {
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
} 
a {
  text-decoration: none; 
}
.fa{
display:inline-block;
font:normal normal normal 14px/1 FontAwesome;
font-size:inherit;text-rendering:auto;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
}
.fa-expand:before {
	   content: "\F065";
}
.fa-list:before {
	content: "\F03A"
}
.fa-cog:before, .fa-gear:before {
    content: "\F013";
    }
.fa-lightbulb-o:before {
    content: "\F0EB";
}
.fa-angle-left:before {
    content: "\F104";
}
.fa-angle-right:before {
    content: "\F105";
}
.fa-angle-right:before {
    content: "\F105";
}
.fa-angle-right:before {
    content: "\F105";
}
.read_alert {
  position: fixed;
  top: 25%;
  left: 45%;
  width: 230px;
  height: 60px;
  background-color: white;
  font-size: 19px;
  line-height:60px ;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}
.read_alert img {
  vertical-align: middle;
  margin:15px 15px 15px 25px ;
  
}
.modal-setting label {
	color:#333;
	margin-right:20px
}
.modal-setting .btn-thm {
	display:inline-block;
	border:1px solid #eee;
	border-radius:40px;
	width:40px;
	height:40px;
	margin-right:16px;
	vertical-align:middle;
	cursor:pointer;
	text-align:center;
	line-height:40px;
	color:#fe6878;
	font-size:20px;
	text-decoration:none
}
.modal-setting .btn-thm .fa {
	display:none
}
.modal-setting .btn-thm.active .fa {
	display:inline
}
.modal-setting .btn-font,.modal-setting .btn-fsize,.modal-setting .btn-s,.modal-setting .num-fsize {
	display:inline-block;
	padding:2px 8px;
	width:60px;
	text-align:center;
	border:1px solid #aaa;
	color:#666;
	text-decoration:none;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none
}
.modal-setting .btn-font:active,.modal-setting .btn-fsize:active,.modal-setting .btn-s:active,.modal-setting .num-fsize:active {
	background-color:#f3f3f3
}
.modal-setting .btn-font {
	border-radius:4px;
	margin-right:16px;
	
}
.modal-setting .btn-font.active {
	background-color:#fe6878;
	border-color:#ea5464;
	color:#fff
}
.modal-setting .btn-fsize,.modal-setting .num-fsize {
	margin-left:-1px
}
.modal-setting .num-fsize {
	color:#aaa
}
.modal-setting .btn-fsize-a {
	border-radius:4px 0 0 4px
}
.modal-setting .btn-fsize-b {
	border-radius:0 4px 4px 0
}

.modal-setting .modal-body>p {
	margin-bottom:20px
}
.modal-setting .modal-title .fa {
	margin-right:.3em
}
.modal-setting .modal-footer {
	text-align:center
}
.modal-setting .modal-footer .btn {
	margin:0 8px;
	padding-left:32px;
	padding-right:32px
}
.modal-backdrop {
	opacity:0!important
}
.reader {
	position:relative;
	width:900px;
	max-width:100%;
	margin-left:auto;
	margin-right:auto;
	background:#f6f4ec;
	padding:0;
	-webkit-transition:background .5s;
	transition:background .5s;
	overflow:hidden
}
.inner-reader {
	position: relative;
	display:-webkit-box;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	flex-direction:column;
	-webkit-box-pack:justify;
	justify-content:space-between;
	min-height:1200px;
	width:100%
}
.inner-reader.nene {
	position:absolute;
	top:0;
	width:100%;
	left:100%
}

.book-info {
	padding:0 16px
}
.book-info .info-top {
	margin-bottom:30px;
	color:#777
}
.book-info .info-top .count,.book-info .info-top .update {
	margin-left:20px
}
.book-info .info-top,.book-info .title {
	text-align:center;
	padding:0 32px
}
.book-info .title {
	font-size:25px;
	margin:20px 0
}
@media (max-width:760px) {
	.book-info {
	padding-top:48px
}
.book-info .info-top,.book-info .title {
	padding:0
}
}

.book-nav {
	margin-top:0;
	margin-bottom:32px;
	padding:16px
}
.book-nav a,.book-nav span {
	color:#777
}
.book-nav a:hover {
	color:#333
}
.book-nav .fa {
	margin:0 8px
}
.book-content {
	-webkit-box-flex:1;
	flex-grow:1;
	-webkit-user-select:none;
	-moz-user-select:none;
	padding:0 80px
}
.book-content p {
	font-size: inherit;
	line-height:1.7;
	margin:.8em 0;
	word-break:break-word
}
.book-content .p-mobile {
	text-align:center;
	text-indent:0
}
.book-content .p-mobile a {
	font-size:18px;
	display:inline-block;
	padding:2px 16px;
	border-radius:2px;
	border:1px solid #fe6878;
	text-decoration:none
}
.book-content .p-mobile a:focus {
	background:#fe6878;
	color:#fff
}
.book-content .img {
	text-align:center;
	text-indent:0;
	margin:2em 0
}
.book-content .img img {
	max-width:100%;
	padding:12px;
	background-color:#fff;
	border:1px solid #e3e3e3
}

.book-content .app-mio {
	font-size:18px!important;
	text-indent:0;
	text-align:center;
	color:#fe6878
}
.book-bottom {
	padding:60px 0;
	
}
.book-bottom .next-page {
	text-align:center
}
.book-bottom .next-page a {
	font-size:24px;
	color:#333;
	text-decoration:none;
	-webkit-transition:all .3s;
	transition:all .3s;
	cursor:pointer
}
.book-bottom .next-page a:hover {
	color:#fe6878
}
.book-bottom .next-page .fa {
	margin:0 .3em
}
.book-bottom .hint-page {
	text-align:center;
	color:#999;
	font-size:12px;
  
}

.book-tool {
  position: fixed;
  right: 25px;
  z-index: 99999;
  top: 25%;
}


.book-tool a {
	display:block;
	color:#5b5b5b;
	text-align:center;
	font-size:22px;
	width:40px;
	height:45px;
	margin-top:-1px;
	line-height:45px;
	border:1px solid #515151;
	cursor:pointer
}
/*.book-tool a:hover {
	color:#eaeaea;
	
}*/
#btn-light .light_img{
      width: 39px;
    height: 45px;
    text-align: center;
    margin-top: 5px;
   display: inline-block;
}
.light_img img{
  width: 28px;
  height: 28px;
}
.titwe{
      width: 28px;
    height: 28px;
    margin-top: 8px;
}


.book-tool a:active {
	background:#393939
}
.book-tool .menu .fa {
	font-size:18px
}
.book-tool .fullscreen {
	border-radius:4px
}
.book-tool .fullscreen .fa {
	font-size:21px
}
.book-tool .menu,.book-tool .prev {
	border-radius:4px 4px 0 0
}
.book-tool .light,.book-tool .next {
	border-radius:0 0 4px 4px
}
.book-tool .tool-bottom {
	margin-top:20px
}
@media (max-width:760px) {
	.book-tool {
	position:absolute;
	left:auto!important;
	bottom:auto!important;
	right:8px;
	top:8px;
	width:100%
}
.book-tool a {
	float:left;
	margin-top:0;
	margin-left:-1px;
	height:40px;
	line-height:40px;
	border-radius:0!important
}
.book-tool a:hover {
	color:#333;
	background:#999
}
.book-tool .tool-bottom {
	margin-top:0;
	margin-right:20px;
	float:right
}
.book-tool .tool-top {
	float:right;
}
}
.error-read,.loading-read {
	text-align:center;
	position:absolute;
	width:300px;
	left:50%;
	top:50%;
	margin-left:-150px;
	margin-top:-160px
}
 
.error-read .info,.loading-read .info {
	margin:0
}
 
ol,ul {
	list-style:none;
	margin:0;
	padding:0
}
body {
	background:#333339
}
.content {
	padding:0;
	min-height:auto;
	position: relative;
}
body::-webkit-scrollbar {
	width:6px
}
body::-webkit-scrollbar-thumb {
	border-radius:3px;
	background-color:hsla(0,0%,100%,.2)
}
body::-webkit-scrollbar-track-piece {
	background-color:#333339
}
	html {
	font-family:sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
}body {
	margin:0
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
	display:block
}	
.modal-dialog {
    width: 600px;
    margin: 30px auto;
}
.modal-dialog.modal-content {
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    background-clip: padding-box;
    outline: 0;
    z-index: 1060;
}
p {
    margin: 0 0 10px;
}

.modal-content {
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.fa-close:before, .fa-remove:before, .fa-times:before {
    content: "\F00D";
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-body {
    position: relative;
    padding: 15px;
}
.modal-setting .modal-footer {
    text-align: center;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.modal-header:before {
    content: " ";
    display: table;
}
.modal-header .close {
    margin-top: -2px;
}
button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}
.modal-setting label {
    color: #333;
    margin-right: 20px;
}

.modal-setting.btn-thm {
    display: inline-block;
    border: 1px solid #eee;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    margin-right: 16px;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    color: #fe6878;
    font-size: 20px;
    text-decoration: none;
}
.modal-setting.btn-thm-a{
	background-color: #FFFFFF;
}
.modal-setting .btn-thm-b{
	    background-color: #f6f4ec;
}
.modal-setting .btn-thm-c{
	    background-color: #e6f0e6;
}
.modal-setting .btn-thm-d{
	    background-color: #e3f5fa;
}
.modal-setting .btn-thm-e{
	    background-color: #f5f5f5;
}
.modal-setting .btn-thm-f{
	    background-color: #f5e9ef;
}
.modal-setting .btn-thm-g{
	    background-color: #323536;
}
.modal-setting label {
    color: #333;
    margin-right: 20px;
}
.modal-setting .btn-font {
    border-radius: 4px;
    margin-right: 16px;
    display: inline-block;
    padding: 2px 8px;
    width: 60px;
    text-align: center;
    border: 1px solid #aaa;
    color: #666;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.modal-setting .btn-font.active {
    background-color: #fe6878;
    border-color: #ea5464;
    color: #fff;
}
.modal-setting .btn-font {
    border-radius: 4px;
    margin-right: 16px;
}
.fa-minus:before {
    content: "\F068";
}
.fa-plus:before {
    content: "\F067";
}
footer:before {
    content: " ";
    display: table;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-primary {
    color: #fff;
    background-color: #6ebae5;
    border-color: #6ebae5;
}
.btn-primary:hover{
  background-color: #5ec0f7;
  border-color: #5ec0f7;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.modal-footer .btn+.btn {
    margin-left: 5px;
    margin-bottom: 0;
}
.fa-check:hover{
	content: "\F00C";
}
.fa-check:before {
    content: "\F00C";
}
    .bodyFlag{
      position: fixed;
      top: 48%;
      left: 50%;
      font-size: 18px;
      font-family: "微软雅黑";
      width: 300px;
      height: 300px;
      z-index: 999;
    }

.modal-setting .btn-fsize img{
    width: 30%;
}
.modal-setting .btn-fsize{
    padding: 2px 0px;
}


@media screen and (max-width: 760px) {
  #btn-screen-tool{
    display: none;
  }
  .book-content {
      padding:0 16px
    }
  .book-nav {
      padding:16px 0;
      margin:0
  }
  .modal-dialog{
        width: 515px !important;
        margin: 0 auto !important;
        margin-top: 50px !important;
  }
  .modal-title{
        margin-top: 10px;
        margin-bottom: 0px;
  }
  .modal-setting .btn-thm {
      display:inline-block;
      border:1px solid #eee;
      border-radius:40px;
      width:40px;
      height:40px;
      margin-right:10px;
      vertical-align:middle;
      cursor:pointer;
      text-align:center;
      line-height:40px;
      color:#fe6878;
      font-size:20px;
      text-decoration:none
    }
}
