body li{
	list-style:none;
}
.regist {
  width: 367px;
  

  position: absolute;
  top: 100px;
  right: 330px;
  display: none;
} 
.regist .regist_small {
  border: 1px solid #6c4274;
  border-radius: 10px;
  box-shadow: 0 3px 9px rgba(0,0,0,.5) ;
  margin-top: 25px;
  height: 510px;
}

.regist .Password_rec {
  border: 1px solid #6c4274;
  border-radius: 10px;
  box-shadow: 0 3px 9px rgba(0,0,0,.5) ;
  margin-top: 25px;
  height: 373px;
}


.regist .regist_img {
  float: right;
  margin: -25px 10px 0 0;
}
.regist .line {
	margin-top: 5px;
}
.regist p .input {
	width: 318px;
	height: 46px;
	border-radius: 8px;
	font-size: 18px;
	background: #bb759a;
	box-shadow: inset 1px 1px 5px rgba(0,0,0,.5);
	border: 1px solid #6c4274;
	margin: 10px 0 0 30px;
	opacity:0.5;
	padding-left: 15px;
}
.regist .regist_Veri {
	width: 174px;
  padding-left: 15px;
	height: 46px;
	border-radius: 8px;
	font-size: 18px;
	background: #bb759a;
	box-shadow: 0 3px 9px rgba(0,0,0,.5);
	border: 1px solid #6c4274;
	margin: 10px 0 0 30px;
	opacity:0.5;
}
.regist p img {
	float: right;
	margin: -35px 33px 0 0;
	cursor: pointer;
}
.regist p .a {
  line-height: 46px;
	width: 114px;
	height: 44px;
	font-size: 14px;
	text-align: center;
	float: right;
	margin: 12px 20px 0 0;
	background-color: #9188d9;
	box-shadow:  0px 3px 0px 0px #4c429b;
	color: #FFFFFF;
}
.regist p .a2 {
  line-height: 46px;
  width: 114px;
  height: 44px;
  font-size: 12px;
  text-align: center;
  float: right;
  margin: 12px 20px 0 0;
  color: #FFFFFF;
  background-color: #b0b0b0;
  box-shadow:  0px 3px 0px 0px #585858;
}
.regist .regist_input {
	margin: 11px 0 0 39px;
}
.regist .btn_a {
	display: block;
	width: 310px;
	height: 54px;
	line-height: 54px;
	text-align: center;
	background: #96539a;
	color: #FFFFFF;
	font-size: 25px;
	margin: 16px 0 0 30px;
	box-shadow:  0px 3px 0px 0px #63246a;
	border-radius: 5px;
	cursor: pointer;
}
.regist .Password_rec_btn_a {
  display: block;
  width: 310px;
  height: 54px;
  line-height: 54px;
  text-align: center;
  background: #96539a;
  color: #FFFFFF;
  font-size: 25px;
  margin: 30px 0 0 30px;
  box-shadow:  0px 3px 0px 0px #63246a;
  border-radius: 5px;
  cursor: pointer;
}
.regist .regist_p {
	float: right;
	margin: 10px 30px  0 0;
	cursor: pointer;
}
.btn:active {
			box-shadow: inset 3px 3px 5px 1px rgba(0,0,0,0.7);
		}	

.ui-state-highlight  {
    border: 1px solid red !important;
    background-color: red !important;
    color: #363636 !important;		
}
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #000; opacity:1; 
}

  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #000;opacity:1;
}

  input:-ms-input-placeholder{
    color: #000;opacity:1;
}

  input::-webkit-input-placeholder{
    color: #000;opacity:1;
}